#address {
    .addressContainer {
        
        .sides {
            display: flex;
            gap: 2.4rem;
            .rightSide {
                display: flex;
                gap: 2.4rem;
                .card {
                    width: 26.4rem;
                    height: 30.9rem;
                    border-radius: 0.8rem;
                }

                .different {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0.1rem dashed #007878;
                    background-color: #F9F9F9;

                    .center {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        p {
                            font-size: 1.6rem;
                            line-height: 2.72rem;
                            font-family: "poppins";
                            font-weight: 500;
                            color: rgba(33, 33, 33, 0.75);
                        }
                    }
                }

                .same {
                    .cardTop {
                        display: flex;
                        justify-content: space-between;
                    }
                    .line {
                        border-top: 0.1rem solid #E4E4E4;
                    }
                }
            }
        }
    }
}