#delivery{
    background-color: #F7F7F7;
    .deliveryContainer{
        width: 153rem;
        height: 14rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .main{
            display: flex;
            align-items: center;
            gap: 0.8rem;
            p{
                font-size: 1.6rem;
            }
        }
    }
}

@media(max-width: 992px) {

    .main{
        display: flex;
        flex-direction: column;
    }

}