#Feproducts{
  min-height: 102.8rem;
  .top{
    position: relative;
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;
    position: relative;
    .productBox{
      position: relative;
      height: 16.2rem;
      background-color: #F5F5F5;
      border-radius: 0.8rem;
      padding: 2.4rem 10.5rem 10.7rem 2.4rem;
      h3{
        font-size: 1.8rem;

      }
      img{
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .ball{
      border: 1px solid #EBEBEB;
      background-color: white;
      position: absolute;
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      right: 0;
      top: 50%;
      transform: translate(50%, 50%);
    }

  }
  .content{
    margin-top: 9.6rem;
    display: flex;
    justify-content: space-between;
    h2{
      font-size: 3.2rem;
    }
    .link{
      display: flex;
      align-items: center;
      gap: 1.633rem;
      a{
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    }
    .feature{
      position: relative;
      margin-top: 3.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2.4rem;
      .post{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.1rem 3.4rem 2.8rem 2.4rem;
        height: 50.8rem;
        background-color:  #F9F9F9;
        border-radius: 0.8rem;
        img{
          align-self: center;
        }
        h3{
          font-size: 1.6rem;
          line-height: 2.72rem;
        }
        .stars{
          margin-top: 1.6rem;
          display: flex;
          gap: 1.183rem;
        }
        .price{
          display: flex;
          align-items: center;
          gap: 1.8rem;
          font-size: 1.6rem;
          color: #363636BF;
          .red{
            font-size: 2rem;
            color: #F75145;
            font-weight: 600;
          }
        }
        button{
          font-size: 1.6rem;
          font-weight: 500;
          width: 100%;
          height: 4.8rem;
          background-color: #36363600;
          border: 1px solid #212121;
          border-radius: 0.8rem;
        }

        .new{
          position: absolute;
          top: 1.6rem;
          left: 1.6rem;
          font-size: 1.6rem;
          color: white;
          padding: 3px 22px;
          background-color:  #43D167;
          border-radius: 0.8rem;
            
          }
          .disc{
            position: absolute;
            top: 1.6rem;
            left: 1.6rem;
            font-size: 1.6rem;
            color: white;
            padding: 3px 22px;
            background-color: #DF4244;
            border-radius: 0.8rem;

          }
          .like{
            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
          }
        }
          .rightBall{
            border: 1px solid #EBEBEB;
            background-color: white;
            position: absolute;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            right: 0;
            top: 50%;
            transform: translateX(50%);
          }
          .leftBall{
            border: 1px solid #EBEBEB;
            background-color: white;
            position: absolute;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: 50%;
            left:0;
            transform: translateX(-50%) rotate(180deg) ;
  
          }
        }
      }

      #BestSeller{
        min-height: 73.8rem;
        background-color:  #FFF7F7;
        .container{
          padding-top: 7.2rem;
        .content{
          display: flex;
          justify-content: space-between;
          h2{
            font-size: 3.2rem;
          }
          .link{
            display: flex;
            align-items: center;
            gap: 1.633rem;
            a{
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
          }
          .feature{
            position: relative;
            margin-top: 3.2rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.4rem;
            .post{
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 1.1rem 3.4rem 2.8rem 2.4rem;
              height: 50.8rem;
              background-color:  #F9F9F9;
              border-radius: 0.8rem;
              img{
                align-self: center;
              }
              h3{
                font-size: 1.6rem;
                line-height: 2.72rem;
              }
              .stars{
                margin-top: 1.6rem;
                display: flex;
                gap: 1.183rem;
              }
              .price{
                display: flex;
                align-items: center;
                gap: 1.8rem;
                font-size: 1.6rem;
                color: #363636BF;
                .red{
                  font-size: 2rem;
                  color: #F75145;
                  font-weight: 600;
                }
              }
              button{
                font-size: 1.6rem;
                font-weight: 500;
                width: 100%;
                height: 4.8rem;
                background-color: #36363600;
                border: 1px solid #212121;
                border-radius: 0.8rem;
              }
      
              .new{
                position: absolute;
                top: 1.6rem;
                left: 1.6rem;
                font-size: 1.6rem;
                color: white;
                padding: 3px 22px;
                background-color:  #43D167;
                border-radius: 0.8rem;
                  
                }
                .disc{
                  position: absolute;
                  top: 1.6rem;
                  left: 1.6rem;
                  font-size: 1.6rem;
                  color: white;
                  padding: 3px 22px;
                  background-color: #DF4244;
                  border-radius: 0.8rem;
      
                }
                .like{
                  position: absolute;
                  top: 1.6rem;
                  right: 1.6rem;
                }
              }
                .rightBall{
                  border: 1px solid #EBEBEB;
                  background-color: white;
                  position: absolute;
                  width: 4rem;
                  height: 4rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  right: 0;
                  top: 50%;
                  transform: translateX(50%);
                }
                .leftBall{
                  border: 1px solid #EBEBEB;
                  background-color: white;
                  position: absolute;
                  width: 4rem;
                  height: 4rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  top: 50%;
                  left:0;
                  transform: translateX(-50%) rotate(180deg) ;
        
                }
              }
            }

      }



      @media screen and (max-width: 992px) {
        #Feproducts{
          .container{
            padding: 3rem;
            .top{
            grid-template-columns: 1fr 1fr;
            
          }
          }
          

        }
        
      }
    

  





