#Featured{
  .top{
    position: relative;
    padding-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;
    position: relative;
    .productBox{
      position: relative;
      height: 16.2rem;
      background-color: #F5F5F5;
      border-radius: 0.8rem;
      padding: 2.4rem 10.5rem 10.7rem 2.4rem;
      h3{
        font-family: "poppins";
        font-weight: 500;
        font-size: 1.8rem;

      }
      img{
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .ball{
      border: 1px solid #EBEBEB;
      background-color: white;
      position: absolute;
      width: 3.2rem;
      height: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      right: 0;
      top: 50%;
      transform: translate(50%, 50%);
    }
  }
  
  
      }
      // posts
      .product{
        padding: 9.6rem 0;
      .content{
        
        display: flex;
        justify-content: space-between;
        h2{
         
          font-size: 3.2rem;
        }
        .link{
          display: flex;
          align-items: center;
          gap: 1.633rem;
          a{
            font-family: "poppins",sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        }
       
          }
          .posts{
            position: relative;
            margin-top: 3.2rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.4rem;
            .post{
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 1.1rem 3.4rem 2.8rem 2.4rem;
              height: 50.8rem;
              background-color:  #F9F9F9;
              border-radius: 0.8rem;
              .postImg{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 27rem;
                width: 100%;
              
              }
              h3{
                margin-top: 1.6rem;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.72rem;
              }
              .stars{
                display: flex;
                gap: 1.183rem;
              }
              .price{
                margin-top: 1.6rem;
                display: flex;
                align-items: center;
                gap: 1.8rem;
                font-size: 1.6rem;
                color: #363636BF;
                span{
                  font-family: "poppins";
                  font-weight: 400;
  
                }
                .red{
                  font-size: 2rem;
                  color: #F75145;
                  font-weight: 600;
                }
              }
              button{
                margin-top: 2.6rem;
                font-family: "poppins",sans-serif;
                font-size: 1.6rem;
                font-weight: 500;
                width: 100%;
                height: 4.8rem;
                background-color: #36363600;
                border: 1px solid #212121;
                border-radius: 0.8rem;
              }
      
              .new{
                font-family: "poppins";
                font-weight: 500;
                position: absolute;
                top: 1.6rem;
                left: 1.6rem;
                font-size: 1.6rem;
                color: white;
                padding: 3px 22px;
                background-color:  #43D167;
                border-radius: 0.8rem;
                  
                }
                .disc{
                  font-family: "poppins";
                  font-weight: 500;
                  position: absolute;
                  top: 1.6rem;
                  left: 1.6rem;
                  font-size: 1.6rem;
                  color: white;
                  padding: 3px 22px;
                  background-color: #DF4244;
                  border-radius: 0.8rem;
      
                }
                .like{
                  position: absolute;
                  top: 1.6rem;
                  right: 1.6rem;
                }
              }
                .rightBall{
                  border: 1px solid #EBEBEB;
                  background-color: white;
                  position: absolute;
                  width: 4rem;
                  height: 4rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  right: 0;
                  top: 50%;
                  transform: translateX(50%);
                }
                .leftBall{
                  border: 1px solid #EBEBEB;
                  background-color: white;
                  position: absolute;
                  width: 4rem;
                  height: 4rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  top: 50%;
                  left:0;
                  transform: translateX(-50%) rotate(180deg) ;
        
                }
              }

      #BestSeller{
        background-color:  #FFF7F7;
          .product{
            padding: 7.2rem 0;
          .post{
            background-color: #ffffff;
          }
       
            }
          }

    #discount{
      .product{
      padding-bottom: 12.8rem ;
      }
    }





      @media screen and (max-width: 992px) {
          
        #Featured{
            .top{
            gap: 1.5rem;
            grid-template-columns: 1fr 1fr;
            padding: 8rem;
            padding-bottom: 0;
            .ball{
              right: 5%;
              top: 50%;
              transform: translate(-50%, 50%);
            }
            
            
          }
          }
          .product{
            padding: 9.6rem;
          .posts{
            grid-template-columns: 1fr;
            gap: 5rem;
          }
        }
          

        
        #BestSeller{
            .product{
              padding: 7.2rem 9.6rem;
              }
            }
        
      }
    

  





