.topbar{
    background-color: #007878;
    .topbarContainer{
        height: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 40rem;
        .phone{
            display: flex;
            align-items: center;
            gap: 1.2rem;
            p{
                color: whitesmoke;
            }
        }
        .help ul{
            display: flex;
            gap: 1.8rem;
            color: whitesmoke;
            a{
                color: whitesmoke;
            }
            img{
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }
}

.navbar{
    border-bottom : 1px solid rgba(128, 128, 128, 0.623);
    .navbarContainer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        padding: 1.5rem 0;
        gap: 2rem;
        .navbar_top{
            justify-content: space-between;
            align-items: center;
            display: flex;
            gap: 10rem;
            .search{
                display: flex;
                justify-content: space-between;
                border: 0.1rem solid grey;
                border-radius: 0.5rem;
                padding: 0.8rem;
                width: 50.4rem;
                height: 4.8rem;
            }
            .personal{
                display: flex;
                gap: 2.6rem;
                .sign{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
            }
        }
        .navbar_bottom{
            display: flex;
            justify-content: left;
            font-size: larger;
            ul{
                display: flex;
                gap: 5.4rem;
            }
        }
    
    }
    .navbarAfter{
        display: none;
    }
}


@media(max-width: 992px) {
    
    .topbar{
        display: none;
    }
    .navbar{
        padding: 0 9.6rem;
        background-color: #007878;
        color: white; 
        .navbarContainer{
            display: none;
        }
        .navbarAfter{
            display: block;
            position: relative;
            .navbar_top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 0;
                height: max-content;
                .hamburger{
                    .fa-bars{
                        cursor: pointer;
                    }
                }
            }
        }
    }

}