#orders {
    padding-top: 3.2rem;

    .ordersContainer {
        .ordersTop {
            display: flex;
            align-items: center;
            gap: 0.7rem;
            p {
                font-size: 1.4rem;
                line-height: 2.38rem;
                color: #1D1D1D;
            }
        }
        .h2 {
            font-size: 4rem;
            line-height: 6.8rem;
            margin: 0.6rem 0 4.8rem 0;
            color: #212121;
        }
        .ordersMain {
            display: flex;
            gap: 2.4rem;
            
            .ordersMainSide {
                width: max-content;
                border: 1px solid #E4E4E4;
                border-radius: 0.8rem;
    
                
                p {
                    font-size: 1.4rem;
                    color: rgba(33, 33, 33, 0.75);
                    line-height: 2.38rem;
                }
    
    
                .line {
                    width: 100%;
                    border-bottom: 1px solid #E4E4E4;
                }
    
                .user {
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    padding: 1.7rem 3.3rem 1.4rem 1.6rem;
    
    
                    h4 {
                        font-size: 1.6rem;
                        line-height: 2.72rem;
                        color:  #212121;
                    }
    
                }
    
                .report {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    padding: 1.6rem 2.4rem;
                }
    
                .bgColor {
                    background-color: #F9FBFB;
                    padding: 0;
                }
            }
        }
    }
}