.top {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    p {
        font-size: 1.4rem;
        line-height: 2.38rem;
        color: #1D1D1D;
        font-family: "poppins";
    }
}
.h2 {
    font-size: 4rem;
    line-height: 6.8rem;
    margin: 0.6rem 0 4.8rem 0;
    color: #212121;
    font-family: "rubik";
}