.left {
    h4 {
        font-size: 1.6rem;
        color: #212121;
        line-height: 2.72rem;
        font-family: "rubik";
    }
    p {
        font-size: 1.4rem;
        color: #212121;
        line-height: 2.38rem;
        font-family: "poppins";
    }
    .user {
        width: max-content;

        .borderTop {
            border: 1px solid #E4E4E4 !important;
            border-radius: 0.8rem 0.8rem 0 0 !important;

        }

        .borderBottom {
            border: 1px solid #E4E4E4;
            border-radius: 0 0 0.8rem 0.8rem !important;

        }

        .userTop {
            padding: 1.7rem 3.3rem 1.7rem 1.4rem !important;
            gap: 2rem !important;
            p {
                color: rgba(33, 33, 33, 0.75);
            }
        }

        .box {
            display: flex;
            align-items: center;
            gap: 1.2rem;
            padding: 1.6rem 2.4rem;
            border: 1px solid #E4E4E4;
            border-top: 0;
        }

        .bgColor {
            background-color: #F9FBFB;
            border-left: 2px solid #007878;
        }
    }
}