#hero {
  background-color: #FFE2E0;
  padding: 2.4rem 0 2.5rem 0;

  
.heroContainer {
  display: flex;
  justify-content: space-between;

  .heroLeft {

    max-width: 40rem;
    max-height: 8rem;
    span {
      color: #DF4244;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 4.8rem;
    }
  
    h2 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 6.8rem;
    }
    p {
      font-size: 1.6rem;
      font-weight: 400;
      height: 2.72rem;
      color: #212121d1;
    }
  
    button {
      background-color: #206363;
      color: white;
      border-radius: 0.8rem;
      padding: 1.2rem 5.7rem;
      margin: 4.8rem 0 12.8rem 0;
    }
  }

}
  
}
