@font-face {
    font-family: "poppins", sans-serif;
    src: url(../../../fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
    font-family: "rubik", sans-serif;
    src: url(../../../fonts/Rubik/Rubik-Black.ttf);
}